<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>

        <handlers>
            <!-- PHP Handler for Landing Site -->
            <add name="PHP82_via_FastCGI"
                 path="*.php"
                 verb="*"
                 modules="FastCgiModule"
                 scriptProcessor="C:\Program Files\PHP\v8.2\php-cgi.exe"
                 resourceType="Either" />
        </handlers>

        <rewrite>
            <rules>
                <!-- Force HTTPS in Production -->
                <rule name="Force HTTPS" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                        <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>

                <!-- Internet Banking Routes -->
                <rule name="Internet Banking" stopProcessing="true">
                    <match url="^internet-banking(/.*)?$" />
                    <action type="Rewrite" url="/internet-banking/server.js" />
                </rule>

                <!-- Static Assets -->
                <rule name="Static Files" stopProcessing="true">
                    <match url="^(assets|images|css|js|_next)/(.*)$" />
                    <action type="None" />
                </rule>

                <!-- PHP Landing Pages -->
                <rule name="PHP Files" stopProcessing="true">
                    <match url="^(.*)\.php$" />
                    <action type="None" />
                </rule>

                <!-- Default to index.php -->
                <rule name="Landing Page" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
            </rules>
        </rewrite>

        <!-- Security Headers -->
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
            </customHeaders>
        </httpProtocol>

        <!-- Static Content MIME Types -->
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
        </staticContent>

        <!-- Compression -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />

        <!-- Error Pages -->
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" />
            <error statusCode="404" path="/404.php" responseMode="ExecuteURL" />
            <remove statusCode="500" />
            <error statusCode="500" path="/error.php" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>

    <!-- Application Settings -->
    <appSettings>
        <add key="WEBSITE_NODE_DEFAULT_VERSION" value="18.17.0" />
        <add key="PHP_VERSION" value="8.2" />
    </appSettings>
</configuration>